*{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#header{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
}
ul{
    display: flex;
    justify-content: space-between;
    width: 200px;
}

@media screen and (max-width: 650px){
    img{
        width: 100px;
        height: 40px;
    }
    #header{
        height: 50px;
    }
}